//--------------------------------------------------------------
// Custom Styles
//--------------------------------------------------------------
.btn-group {

	ul.dropdown-menu {
		max-height: 250px;
		overflow: scroll;
	} // ul.drpdown-menu

	svg.icon {
		height: 14px;
		position: absolute;
		top: 7px;
		left: 3px;
	} // svg.icon

	li:hover {
		background-color: $color-mercury;
	} // li:hover
} // .btn-group