//--------------------------------------------------------------
// Dropdown
//--------------------------------------------------------------
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 15px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-top: 4px solid \9;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

//-----------------------------------------
// Container
//-----------------------------------------
.dropup, .dropdown {
	position: relative;
}

.dropdown-toggle:focus {
	outline: 0;
}

.dropdown-menu {
	-webkit-background-clip: padding-box;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
	background-color: $color-white;
	border-radius: 4px;
	border: 1px solid $color-mercury;
	border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	display: none;
	float: left;
	font-size: 14px;
	left: 0;
	list-style: none;
	margin: 2px 0 0;
	min-width: 160px;
	padding: 5px 0;
	position: absolute;
	text-align: left;
	top: 57px;
	z-index: 1000;

	&.pull-right {
		right: 0;
		left: auto;
	}

	.divider {
		height: 1px;
		margin: 9px 0;
		overflow: hidden;
		background-color: $color-mercury;
	}

	> {

		li > a {
			display: block;
			padding: 3px 20px;
			clear: both;
			font-weight: normal;
			line-height: 1.42857143;
			color: $color-mine-shaft;
			white-space: nowrap;

			&:hover, 
			&:focus {
				text-decoration: none;
				color: $color-nero;
				background-color: $color-mercury;
			}
		}

		.active > a {
			color: $color-white;
			text-decoration: none;
			outline: 0;
			background-color: $color-curious-blue;

			&:hover, &:focus {
				color: $color-white;
				text-decoration: none;
				outline: 0;
				background-color: $color-curious-blue;
			}
		}

		.disabled > a {
			color: $color-monsoon;
			
			&:hover, 
			&:focus {
				color: $color-monsoon;
			}

			&:hover, 
			&:focus {
				text-decoration: none;
				background-color: transparent;
				background-image: none;
				filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
				cursor: not-allowed;
			}
		}
	}
}

.open > {

	.dropdown-menu {
		display: block;
	}

	a {
		outline: 0;
	}
}

.dropdown-menu-right {
	left: auto;
	right: 0;
}

.dropdown-menu-left {
	left: 0;
	right: auto;
}

.dropdown-header {
	display: block;
	padding: 3px 20px;
	font-size: 12px;
	line-height: 1.42857143;
	color: $color-monsoon;
	white-space: nowrap;
}

.dropdown-backdrop {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 990;
}

.pull-right > .dropdown-menu {
	right: 0;
	left: auto;
}

.dropup .caret, 
.navbar-fixed-bottom .dropdown .caret {
	border-top: 0;
	border-bottom: 4px dashed;
	border-bottom: 4px solid \9;
	content: "";
}

.dropup .dropdown-menu, 
.navbar-fixed-bottom .dropdown .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-bottom: 2px;
}

@media (min-width: 768px) {
	.navbar-right {

		.dropdown-menu {
			left: auto;
			right: 0;
		}

		.dropdown-menu-left {
			left: 0;
			right: auto;
		}
	}
}

.btn-group, 
.btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.btn-group > .btn, 
.btn-group-vertical > .btn {
	position: relative;
	float: left;
}

.btn-group > .btn:hover, 
.btn-group-vertical > .btn:hover, 
.btn-group > .btn:focus, 
.btn-group-vertical > .btn:focus, 
.btn-group > .btn:active, 
.btn-group-vertical > .btn:active, 
.btn-group > .btn.active, 
.btn-group-vertical > .btn.active {
	z-index: 2;
}

.btn-group {
	.btn + {

		.btn, .btn-group {
			margin-left: -1px;
		}
	}

	.btn-group + {

		.btn, .btn-group {
			margin-left: -1px;
		}
	}
}

.btn-toolbar {
	margin-left: -5px;

		.btn, .btn-group, .input-group {
			float: left;
		}

	> {

		.btn, .btn-group, .input-group {
			margin-left: 5px;
		}
	}
}

.btn-group {
	> {

		.btn {

			&:not(:first-child):not(:last-child):not(.dropdown-toggle) {
				border-radius: 0;
			}

			&:first-child {
				margin-left: 0;

				&:not(:last-child):not(.dropdown-toggle) {
					border-bottom-right-radius: 0;
					border-top-right-radius: 0;
				}
			}

			&:last-child:not(:first-child) {
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
			}
		}

		.dropdown-toggle:not(:first-child) {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}

		.btn-group {
			float: left;
			
			&:not(:first-child):not(:last-child) > .btn {
				border-radius: 0;
			}

			&:first-child:not(:last-child) > {

				.btn:last-child, .dropdown-toggle {
					border-bottom-right-radius: 0;
					border-top-right-radius: 0;
				}
			}

			&:last-child:not(:first-child) > .btn:first-child {
				border-bottom-left-radius: 0;
				border-top-left-radius: 0;
			}
		}
	}

	.dropdown-toggle:active {
		outline: 0;
	}

	&.open .dropdown-toggle {
		outline: 0;
		-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
		box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);

		&.btn-link {
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}

	> {

		.btn + .dropdown-toggle {
			padding-left: 8px;
			padding-right: 8px;
		}

		.btn-lg + .dropdown-toggle {
			padding-left: 12px;
			padding-right: 12px;
		}
	}
}

.btn .caret {
	margin-left: 0;
}

.btn-lg .caret {
	border-width: 5px 5px 0;
	border-bottom-width: 0;
}

.dropup .btn-lg .caret {
	border-width: 0 5px 5px;
}

.btn-group-vertical > {

	.btn {
		display: block;
		float: none;
		width: 100%;
		max-width: 100%;
	}

	.btn-group {
		display: block;
		float: none;
		width: 100%;
		max-width: 100%;

		> .btn {
			display: block;
			float: none;
			width: 100%;
			max-width: 100%;
			float: none;
		}
	}

	.btn + {

		.btn, 
		.btn-group {
			margin-top: -1px;
			margin-left: 0;
		}
	}

	.btn-group + {

		.btn,
		.btn-group {
			margin-top: -1px;
			margin-left: 0;
		}
	}

	.btn {

		&:not(:first-child):not(:last-child) {
			border-radius: 0;
		}

		&:first-child:not(:last-child) {
			border-top-right-radius: 4px;
			border-bottom-right-radius: 0;
			border-bottom-left-radius: 0;
		}

		&:last-child:not(:first-child) {
			border-bottom-left-radius: 4px;
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}
	}

	.btn-group {

		&:not(:first-child):not(:last-child) > .btn {
			border-radius: 0;
		}

		&:first-child:not(:last-child) > {

			.btn:last-child, 
			.dropdown-toggle {
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
		&:last-child:not(:first-child) > .btn:first-child {
			border-top-right-radius: 0;
			border-top-left-radius: 0;
		}
	}
}

.btn-group-justified {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: separate;

	> {
		.btn {
			float: none;
			display: table-cell;
			width: 1%;
		}

		.btn-group {
			float: none;
			display: table-cell;
			width: 1%;

			.btn {
				width: 100%;
			}

			.dropdown-menu {
				left: auto;
			}
		}
	}
}

[data-toggle="buttons"] > {

	.btn input[type="radio"], 
	.btn-group > .btn input[type="radio"], 
	.btn input[type="checkbox"], 
	.btn-group > .btn input[type="checkbox"] {
		position: absolute;
		clip: rect(0, 0, 0, 0);
		pointer-events: none;
	}
}

.clearfix {

	&:before, 
	&:after {
		content: " ";
		display: table;
	}
}

.btn-toolbar {

	&:before, 
	&:after {
		content: " ";
		display: table;
	}
}

.btn-group-vertical > .btn-group {

	&:before, 
	&:after {
		content: " ";
		display: table;
	}
}

.clearfix:after, 
.btn-toolbar:after, 
.btn-group-vertical > .btn-group:after {
	clear: both;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

.hide {
	display: none !important;
}

.show {
	display: block !important;
}

.invisible {
	visibility: hidden;
}

.text-hide {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.affix {
	position: fixed;
}


//-----------------------------------------
// Enhancements
//-----------------------------------------
.dropdown-menu {
	> {

		li > {

			label {
				display: block;
				padding: 3px 20px;
				clear: both;
				font-weight: normal;
				line-height: 1.42857143;
				color: $color-mine-shaft;
				white-space: nowrap;

				&:hover, 
				&:focus {
					text-decoration: none;
					color: $color-nero;
					background-color: $color-mercury;
				}
			}

			input:checked ~ label {
				color: $color-white;
				text-decoration: none;
				outline: 0;
				background-color: $color-celestial-blue;

				&:hover, 
				&:focus {
					color: $color-white;
					text-decoration: none;
					outline: 0;
					background-color: $color-celestial-blue;
				}
			}
		}

		.active > label {
			color: $color-white;
			text-decoration: none;
			outline: 0;
			background-color: $color-celestial-blue;

			&:hover, 
			&:focus {
				color: $color-white;
				text-decoration: none;
				outline: 0;
				background-color: $color-celestial-blue;
			}
		}

		li > input[disabled] ~ label {
			color: $color-alumminum;

			&:hover, 
			&:focus {
				color: $color-alumminum;
			}
		}

		.disabled > label {
			color: $color-alumminum;
			
			&:hover, 
			&:focus {
				color: $color-alumminum;
			}
		}

		li > input[disabled] ~ label {
			
			&:hover, 
			&:focus {
				text-decoration: none;
				background-color: transparent;
				background-image: none;
				filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
				cursor: not-allowed;
			}
		}

		.disabled > label {

			&:hover, 
			&:focus {
				text-decoration: none;
				background-color: transparent;
				background-image: none;
				filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
				cursor: not-allowed;
			}
		}
		li > {

			label {
				margin-bottom: 0;
				cursor: pointer;
			}

			input {

				&[type="radio"], 
				&[type="checkbox"] {
					display: none;
					position: absolute;
					top: -9999em;
					left: -9999em;
				}
			}

			label:focus, 
			input:focus ~ label {
				outline: thin dotted;
				outline: 5px auto -webkit-focus-ring-color;
				outline-offset: -2px;
			}
		}
	}

	&.pull-right {
		right: 0;
		left: auto;
	}

	&.pull-top {
		bottom: 100%;
		top: auto;
		margin: 0 0 2px;
		-webkit-box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.175);
		box-shadow: 0 -6px 12px rgba(0, 0, 0, 0.175);
	}

	&.pull-center {
		right: 50%;
		left: auto;
	}

	&.pull-middle {
		right: 100%;
		margin: 0 2px 0 0;
		box-shadow: -5px 0 10px rgba(0, 0, 0, 0.2);
		left: auto;
	
		&.pull-right {
			right: auto;
			left: 100%;
			margin: 0 0 0 2px;
			box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
		}

		&.pull-center {
			right: 50%;
			margin: 0;
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
		}
	}

	&.bullet {
		margin-top: 8px;

		&:before {
			width: 0;
			height: 0;
			content: '';
			display: inline-block;
			position: absolute;
			border-color: transparent;
			border-style: solid;
			-webkit-transform: rotate(360deg);
			border-width: 0 7px 7px;
			border-bottom-color: $color-mercury;
			border-bottom-color: rgba(0, 0, 0, 0.15);
			top: -7px;
			left: 9px;
		}

		&:after {
			width: 0;
			height: 0;
			content: '';
			display: inline-block;
			position: absolute;
			border-color: transparent;
			border-style: solid;
			-webkit-transform: rotate(360deg);
			border-width: 0 6px 6px;
			border-bottom-color: $color-white;
			top: -6px;
			left: 10px;
		}

		&.pull-right {

			&:before {
				left: auto;
				right: 9px;
			}

			&:after {
				left: auto;
				right: 10px;
			}
		}

		&.pull-top {
			margin-top: 0;
			margin-bottom: 8px;

			&:before {
				top: auto;
				bottom: -7px;
				border-bottom-width: 0;
				border-top-width: 7px;
				border-top-color: $color-mercury;
				border-top-color: rgba(0, 0, 0, 0.15);
			}

			&:after {
				top: auto;
				bottom: -6px;
				border-bottom: none;
				border-top-width: 6px;
				border-top-color: $color-white;
			}
		}

		&.pull-center {

			&:before {
				left: auto;
				right: 50%;
				margin-right: -7px;
			}

			&:after {
				left: auto;
				right: 50%;
				margin-right: -6px;
			}
		}

		&.pull-middle {
			margin-right: 8px;

			&:before {
				top: 50%;
				left: 100%;
				right: auto;
				margin-top: -7px;
				border-right-width: 0;
				border-bottom-color: transparent;
				border-top-width: 7px;
				border-left-color: $color-mercury;
				border-left-color: rgba(0, 0, 0, 0.15);
			}

			&:after {
				top: 50%;
				left: 100%;
				right: auto;
				margin-top: -6px;
				border-right-width: 0;
				border-bottom-color: transparent;
				border-top-width: 6px;
				border-left-color: $color-white;
			}

			&.pull-right {
			margin-right: 0;
			margin-left: 8px;

				&:before {
					left: -7px;
					border-left-width: 0;
					border-right-width: 7px;
					border-right-color: $color-mercury;
					border-right-color: rgba(0, 0, 0, 0.15);
				}

				&:after {
					left: -6px;
					border-left-width: 0;
					border-right-width: 6px;
					border-right-color: $color-white;
				}
			}

			&.pull-center {
				margin-left: 0;
				margin-right: 0;

				&:before, &:after {
					border: none;
					display: none;
				}
			}
		}
	}
}

.dropdown-submenu {
	position: relative;

	> {
		.dropdown-menu {
			top: 0;
			left: 100%;
			margin-top: -6px;
			margin-left: -1px;
			border-top-left-radius: 0;
		}

		a:before {
			display: block;
			float: right;
			width: 0;
			height: 0;
			content: "";
			margin-top: 6px;
			margin-right: -8px;
			border-width: 4px 0 4px 4px;
			border-style: solid;
			border-left-style: dashed;
			border-top-color: transparent;
			border-bottom-color: transparent;
		}
	}
}

@media (max-width: 767px) {
	.navbar-nav {

		.dropdown-submenu > a {
			padding-left: 40px;

			&:before {
				margin-top: 8px;
				border-color: inherit;
				border-style: solid;
				border-width: 4px 4px 0;
				border-left-color: transparent;
				border-right-color: transparent;
			}
		}

		> .open > .dropdown-menu > .dropdown-submenu > .dropdown-menu > li > {
			
			a, 
			label {
				padding-left: 35px;
			}
			
			.dropdown-menu > li > {

				a, label {
					padding-left: 45px;
				}

				.dropdown-menu > li > {

						a, label {
							padding-left: 55px;
						}

					.dropdown-menu > li > {

						a, label {
							padding-left: 65px;
						}

						.dropdown-menu > li > {

							a, label {
								padding-left: 75px;
							}
						}
					}
				}
			}
		}
	}
}

.navbar-default .navbar-nav .open > .dropdown-menu > .dropdown-submenu.open > a {
	background-color: $color-mercury;
	color: $color-dark-gray;

	&:hover, 
	&:focus {
		background-color: $color-mercury;
		color: $color-dark-gray;
	}
}

@media (max-width: 767px) {

	.navbar-default .navbar-nav .open > .dropdown-menu > .dropdown-submenu.open > a:before {
		border-top-color: $color-dark-gray;
	}
}

.navbar-inverse .navbar-nav .open > .dropdown-menu > .dropdown-submenu.open > a {
	background-color: $color-cod-gray;
	color: $color-white;
	
	&:hover, 
	&:focus {
		background-color: $color-cod-gray;
		color: $color-white;
	}
}

@media (max-width: 767px) {
	
	.navbar-inverse .navbar-nav .open > .dropdown-menu > .dropdown-submenu.open > a:before {
		border-top-color: $color-white;
	}
}