//--------------------------------------------------------------
// Variables
//--------------------------------------------------------------

//-----------------------------------------
// Blue
//-----------------------------------------
$color-big-stone:      #122b40;
$color-midnight:       #204d74;
$color-endeavor:       #286090;
$color-curious-blue:   #337ab7;
$color-celestial-blue: #428bca;


//-----------------------------------------
// Grayscale
//-----------------------------------------
$color-cod-gray:       #080808;
$color-nero:           #262626;
$color-mine-shaft:     #333333;
$color-dark-gray:      #555555;
$color-monsoon:        #777777;
$color-alumminum:      #999999;
$color-stack:          #8c8c8c;
$color-silver-chalice: #adadad;
$color-mercury:        #e6e6e6;
$color-white:          #ffffff;


//-----------------------------------------
// Bootstrap Buttons
//-----------------------------------------
$color-malibu:         #5bc0de;
$color-summer-sky:     darken($color-malibu, 10%);
$color-fern:           #5cb85c;
$color-fruit-salad:    darken($color-fern, 10%);
$color-casablanca:     #f0ad4e;
$color-carrot:         darken($color-casablanca, 10%);
$color-valencia:       #d9534f;
$color-persian-red:    darken($color-valencia, 10%);